################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/GB
/bin/Debug/netcoreapp3.1
/obj
/GB/bin/Debug/netcoreapp3.1
/GB/obj
/GBTesting/bin/Debug/netcoreapp3.1
/GBTesting/obj
/GB/bin/Release/netcoreapp3.1
/GB/data/dmg_boot.bin
/.vs/ProjectEvaluation
/GB/bin/Debug/net6.0